<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta lang="en">
<title>Flask FashionMNIST</title>
<body>
    <form method="post"  enctype="multipart/form-data">
        <label for="image_entry"></label>
        <input title="image" type="file" name="image">
        <p><label for="train"></label><input type="submit" value="train" name="train"></p>
        <p><label for="classify"></label><input type="submit" value="classify" name="classify"></p>
        <!-- name is required for our python app. value controls the displayed text on the button.  -->
    </form>
    {% if training=="done" %}
        <p>Training Done!</p>
    {% endif %}
    {% if answer %}
        <h1>It is a {{ answer }}!</h1>
    {% endif %}
    <h1>MLflow UI</h1>
    <a href = mlflow>Start</a><br>
    Serving at <a href = http://127.0.0.1:5000>http://127.0.0.1:5000</a>

</body>
</html>